body{
    background-color: #3D087B;
   

}

.main{
    position: relative;
    left: 30px;
}

.display{
    display: flex;
}
.dir{
    flex-direction: column;
}
.bb{
    box-sizing: border-box;
}
.color{
    color: #5F0089;
    font-size: 20px;
    font-weight: bolder;
}

.main{
    margin: 30px 120px;
}
section{
    flex-direction: column;
    margin-right: 20px;
}
.setAction{
    background-color: white;
    width: 566px;
    height: 363px;
    border: 1px solid #EDEDED;
    border-radius: 10px;
    padding: 20px 20px;
    margin-top: 20px;
    flex-direction: column;
    justify-content: space-between;
}
.actionTime{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 45px;
    align-content: space-between;
}

label{
    margin-top: 10px;
    color: #3D087B;
    font-family: 'Manrope', sans-serif;
    
}
select{
    width: 281px;
    height: 45px;
    border: 1px solid #EDEDED;
    color: #3D087BDE;
    padding: 10px;
}


.Greeting{
    width: 566px;
    height:  77px;
    border-radius: 10px;
    background-color: rgb(222, 203, 245, 0.23);
    margin-top: 10px;
    padding: 20px;


}
.greetText{
    font-size: 30px;
    font-weight: bold;
    color: white;
    position: absolute;
    font-family: 'Baumans', cursive;
}
.left_footer{
    margin-top: 20px;
    display: flex;
}
button{
    width: 289px;
    height: 50px;
    background-image: linear-gradient(to left ,  #CB52F8 ,#FC5EFF,#6E54EC);
    font-size: 25px;
    color: #EDEDED;
    border:#3D087B 1px solid;
    border-radius: 5px;
    font-family: 'Manrope', sans-serif;
}
button:hover{
    background-image: linear-gradient(to right ,  #CB52F8 ,#FC5EFF,#6E54EC);
}

.footerNote{
    flex-direction: column;
    background-color: rgb(222, 203, 245, 0.23);
    width: 253px;
    height: 100px;
    color: #F25CFE;
    font-weight: bold;
    border-radius: 10px;
    line-height: 20px;
    font-family: 'Manrope', sans-serif;
    padding: 10px;
    margin-left: 22px;
}


/* Right  */
.size{
    width: 536px;
    height: 130px;
    background-color: #EDEDED;
    border-radius: 10px;
}
.rightTime{
    margin-top: 10px;
  
    padding: 20px;
    position: absolute;
    z-index: 1;
    background-color: white;
    
}
h3{
    margin: 30px 0;
    color: #3D087B;
    font-family: 'Manrope', sans-serif;
}
.box{
    width: 80px;
    height: 90px;
    background-color: #F6E2FF;
    font-size: 30px;
    text-align: center;
    font-family: 'Barlow', sans-serif;
    padding-top: 10px; 
    color: #8A11BF;
    

}
.colon{
    font-size: 50px;
    text-align: center;
    margin-top: 10px;
    color: #8A11BF;
}
.ampm{
    background-image: url(Images/AM_svg.svg);
    width: 82px;
    height: 90px;
    font-size: 30px;
    text-align: center;
    padding-top: 25px;    
    color: white;
    margin-left: 20px;
    font-family: 'Barlow', sans-serif;
}

.secondDiv{
    width: 416px;
    height: 130px;
    background-color: #EDEDED;
    border-radius: 10px;
    position: absolute;
    left: 640px;
    top: 25px;
    filter: opacity(71%);
}
.thirdDiv{
    width: 379px;
    height: 130px;
    background-color: #EDEDED;
    border-radius: 10px;
    position: absolute;
    left: 660px;
    top: 40px;
    filter: opacity(22%);
}
.rightText{
    position: relative;
    top: 180px;
    font-size: 30px;
    background-color: white;
    padding: 40px 30px;
    font-weight: bolder;
    color:#8E53F0;
    font-family: 'Baumans', cursive;
}
.rightImage{
    position: relative;
    top: 200px;
}
.timeTxt{
    font-size: 30px;
}


@media only screen and (min-width : 350px) and (max-width : 450px){
  
    body{
        text-align: center;
    }
    .main{
    left: -55px;
    margin: 25px 13px;
    
   }
    .display{
        display: inline-block;
    }
    .rightTime{
        top: 130px;
       
    }
    .secondDiv{
        top: 155px;
        left: 17px;
        width: 310px;
    }
    .thirdDiv{
        top: 170px;
        left: 37px;
        width: 270px;
    }
    .rightText{
        position: absolute;
        top: 320px;
        font-size: 25px;
        padding: 30px 20px;
        height: 100px;
        
    }
    .mobilecard{
        position: absolute;
        top: 420px;
        height: 300px;
        left: 0px;
        width: 300px;
        
    }
    .setAction{
        width: 340px;
    }
    .rightImage{
        position: absolute;
        top: 760px;
        
       
    }
    .setAlarm{
        width: 270px;
    }
    .color{
        margin-top: 10px;
        font-size: 15px;
    }
    
    .imge{
        width: 340px;
    }
    .Greeting{
        position:absolute;
        top: 1010px;
        width: 340px;
        
    }
    .greetText{
        font-size: 20px;
    }
    .left_footer{
        position: absolute;
        top: 1090px;
        margin-bottom: 50px;
    }
   
    .size{
        width: 150%;
    }
    .timeTxt{
        font-size: large;
        margin-right: 10px;
    }
    .box{
        width: 15%;
        height: 90%;
        font-size: 20px;
        font-weight: bolder;
    }
    button{
        width: 210px;
    }
    .footerNote{
        font-size: 12px;
        margin-left: 4px;
        margin-bottom: 10px;
        width: 80%;
        height: 110px;
    }
    select{
        width: 120px;
    }
    label{
        font-size: 15px;
    }
    .actionTime{
        margin-bottom: 20px;
       
    }
}

@media only screen and (min-width : 601px) and (max-width:900px){
    .main{
        margin: 20px 10px;
    }
    .mobilecard{
        width: 410px;
    }
    .Greeting{
        width: 410px;
    }
    button{
        width: 200px;
    }
    .footerNote{
        width: 200px;
        height: 130px;
        position: relative;
        right: 10px;
    }
    .rightTime{
        width: 370px;
        left: 440px;
        height: 130px;
    }
    .timeTxt{
        font-size: large;
    }
    .box{
        width: 50px;
        font-weight: bold;
        font-size: large;
    }
    .secondDiv{
        width: 340px;
        left: 455px;
        height: 120px;
    }
    .thirdDiv{
        width: 310px;
        left: 470px;
        height: 120px;
    }
    .rightText{
       width: 370px;
       right: 13px;
       padding: 25px 6px;
       height: 120px;
    }
    .rightImage{
        right: 10px;
        height: 400px;
        
    }
    .imge{
        width: 370px;
       
    }

    .slct{
        width: 120px;
    }
    label{
        font-size: 15px;
    }

}



